<div>
	<a ui-sref="planning" class="pull-right btn btn-primary btn-outline btn-rounded">Retour au Planning</a>
	<h2>Compte & Parametres</h2>
	<div class="jumbotron">
		<div class="container">
		    <table class="table">
                <tbody>
                  <tr>
                    <td>Dénomination:</td>
                    <td>{{ name }}</td>
                  </tr>
                  <tr>
                    <td>Service proposé:</td>
                    <td>Salon de coiffure</td>
                  </tr>
                  <tr>
                    <td>Adresse:</td>
                    <td>159 rue du monde 75019 Paris</td>
                  </tr>
                  <tr>
                    <td>Numéro de téléphone:</td>
                    <td>01 42 56 00 00</td>
                  </tr>
                    <tr>
                    <td>Site web:</td>
                    <td>nhair.com</td>
                  </tr>
                </tbody>
            </table>
		</div>
	</div>
</div>