<h4 class="space-top">Disponibilités</h4>
<hr>

<div class="pricing-tables stripped object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
    <div class="row grid-space-0">
        <!-- pricing table start -->
        <!-- ================ -->
        <div class="col-sm-3 plan stripped">
            <div class="header dark-bg">
                <h3>Lundi</h3>
                <div class="price"><span>20 Septembre</span></div>
            </div>
            <ul>
                <li>rien</li>
            </ul>
        </div>
        <!-- pricing table end -->
        <!-- pricing table start -->
        <!-- ================ -->
        <div class="col-sm-3 plan stripped best-value">
            <div class="header default-bg">
                <h3>Mardi</h3>
                <div class="price"><span>21 Septembre</span></div>
            </div>
            <ul>
                <li>9:00</li>
                <li>9:30</li>
                <li>10:30</li>
                <li>11:00</li>
                <li>voir plus</li>
            </ul>
        </div>
        <!-- pricing table end -->

        <!-- pricing table start -->
        <!-- ================ -->
        <div class="col-sm-3 plan stripped">
            <div class="header dark-bg">
                <h3>Mercredi</h3>
                <div class="price"><span>22 Septembre</span></div>
            </div>
            <ul>
                <li>voir</li>
            </ul>
        </div>
        <!-- pricing table end -->

        <!-- pricing table start -->
        <!-- ================ -->
        <div class="col-sm-3 plan ">
            <div class="header dark-bg">
                <h3>Jeudi</h3>
                <div class="price"><span>23 Septembre</span></div>
            </div>
            <ul>
                <li>voir</li>
            </ul>
        </div>
        <!-- pricing table end -->

    </div>
</div>
<hr>
