<h4 class="space-top">Prochaine disponibilités</h4>
<hr>


<select id="service-selector" class="form-control">
    {% for service in services%}
        <option value="{{ service.id }}">{{ service.type }}</option>
    {% endfor %}
</select>

<div class="pricing-tables stripped object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
    <div class="row grid-space-0">
        <!-- pricing table start -->
        <!-- ================ -->
        <div class="col-sm-3 plan stripped">
            <div class="header dark-bg">
                <h3>Lundi</h3>
                <div class="price"><span>20 Septembre</span></div>
            </div>
            <ul>
                <li>rien</li>
            </ul>
        </div>
        <!-- pricing table end -->
        <!-- pricing table start -->
        <!-- ================ -->
        <div class="col-sm-3 plan stripped best-value">
            <div class="header default-bg">
                <h3>Mardi</h3>
                <div class="price"><span>21 Septembre</span></div>
            </div>
            <ul id="id01">
            </ul>
        </div>
        <!-- pricing table end -->

        <!-- pricing table start -->
        <!-- ================ -->
        <div class="col-sm-3 plan stripped">
            <div class="header dark-bg">
                <h3>Mercredi</h3>
                <div class="price"><span>22 Septembre</span></div>
            </div>
            <ul>
                <li>voir</li>
            </ul>
        </div>
        <!-- pricing table end -->

        <!-- pricing table start -->
        <!-- ================ -->
        <div class="col-sm-3 plan ">
            <div class="header dark-bg">
                <h3>Jeudi</h3>
                <div class="price"><span>23 Septembre</span></div>
            </div>
            <ul>
                <li>voir</li>
            </ul>
        </div>
        <!-- pricing table end -->

    </div>
</div>
<hr>

<script>

    function loadAvailability(serviceId) {
        var xmlhttp = new XMLHttpRequest();
        var url = Routing.generate('availability', {'serviceId': serviceId });

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var myArr = JSON.parse(xmlhttp.responseText);
                writeAvailability(myArr);
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

    function writeAvailability(arr) {
        var out = "";
        var i;
        for(i = 0; i < arr.length; i++) {
            out += '<li>' + arr[i] + '</li>';
        }
        document.getElementById("id01").innerHTML = out;
    }

    loadAvailability(null);
    document.getElementById("service-selector").onchange = function () {
        loadAvailability(this.value);
    };

</script>