<h4 class="space-top">{{ 'disponibility.next' | trans }}</h4>
<hr>


<select id="service-selector" class="form-control">
    {% for service in services%}
        <option value="{{ service.id }}">{{ service.type }}</option>
    {% endfor %}
</select>

<div id="id01">
    {% include 'Business/availabilityCalendar.html.twig' with {'availabilities': availabilities, 'date': date} only %}
</div>
<hr>

<script>

    function loadAvailability(serviceId) {
        var xmlhttp = new XMLHttpRequest();
        var url = Routing.generate('availability', {'serviceId': serviceId });

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var text = xmlhttp.responseText;
                writeAvailability(text);
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

    function writeAvailability(text) {
        document.getElementById("id01").innerHTML = text;
    }

    document.getElementById("service-selector").onchange = function () {
        loadAvailability(this.value);
    };

</script>