default:
  calls:
      error_reporting: 16384
  suites:
      api:
          paths:    [ %paths.base%/features/api ]
          contexts:
            - FeatureContext
            - ApiFeatureContext
            - Knp\FriendlyContexts\Context\EntityContext

      bellapi_client:
          contexts:
            - Bxav\Bundle\BellApiClientBundle\Behat\BellApiClientContext:
                apiUrl:   'http://localhost:8000/api'
                userId:   'userId'
                apiKey:   'apiKey'
          filters:
            tags: "@bellapi_client"
  gherkin:
    filters:
      tags: ~@ignore
  extensions:
    Behat\Symfony2Extension: ~
    Knp\FriendlyContexts\Extension:
        entities:
            namespaces:
                - AppBundle
        api:
            base_url: 'http://localhost:8000'
    Behat\MinkExtension:
      sessions:
        default:
          symfony2: ~