{% extends 'base.html.twig' %}

{% block body %}

<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">

    {% block header %}
    {% use "header.twig"  %}
    <!-- header-container start -->
    <div class="header-container">
        {{ block('header_top') }}
        {{ block('header_main') }}
    </div>
    <!-- header-container end -->
    {% endblock %}

</div>
<!-- page-wrapper end -->

<div id="page-start"></div>

{% block content %}{% endblock %}

{% endblock body %}