{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <tr>
                {% for business in businesses%}
                    <td><a href="{{ url('homepage', {'businessSlug': business.slug}) }}">{{ business.slug }}</a></td>
                {% endfor %}
            </tr>

        </div>

    </div><!-- /.container -->
{% endblock %}
