{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="starter-template">
            <h1>Bussiness: {{ business.slug }}</h1>
            <p class="lead"></p>
        </div>
        {% for enployee in business.employees%}
            <p class="lead">{{ enployee.slug }}</p>
        {% endfor %}

        <div class="well">

            {% for service in business.services%}
                <p class="lead">{{ service.type }}</p>
            {% endfor %}
        </div>

    </div><!-- /.container -->
{% endblock %}
